/* line 5, ../sass/contact.sass */
.contact {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* line 10, ../sass/contact.sass */
.contact_glyphicon {
  text-align: center;
  font-size: 24px;
}

/* line 15, ../sass/contact.sass */
.contact p a {
  font-size: 24px;
  color: rgba(41, 63, 80, 0.87);
  text-decoration: none;
}

/* line 20, ../sass/contact.sass */
.contact p a:hover {
  color: #293f50;
  text-decoration: none;
}

/* line 24, ../sass/contact.sass */
.icon {
  background-color: #293f50;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding-top: 7px;
}

@media screen and (max-width: 768px) {
  /* line 35, ../sass/contact.sass */
  .contact_glyphicon {
    margin-top: 50px;
    font-size: 18px;
  }

  /* line 38, ../sass/contact.sass */
  .contact p a {
    font-size: 16px;
  }

  /* line 40, ../sass/contact.sass */
  .icon {
    width: 30px;
    height: 30px;
  }
}
