/* line 4, ../sass/footer.sass */
.footer {
  background-color: #0884ba;
  text-align: center;
  padding: 20px 20px;
}

/* line 9, ../sass/footer.sass */
.footer_copy {
  font-size: 12px;
  color: #faf9f9;
}

/* line 13, ../sass/footer.sass */
.footer_copy_text {
  margin: 0;
  margin-top: 10px;
}

/* line 17, ../sass/footer.sass */
.footer_social {
  padding: 0px;
}

/* line 20, ../sass/footer.sass */
.footer_social_item {
  padding: 10px;
  color: white;
}
