/* line 6, ../sass/portfolio.sass */
.layout_portfolio {
  background-color: #f0f0f0;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 11, ../sass/portfolio.sass */
.portfolio_items {
  display: block;
  margin: 60px 0;
  text-align: center;
}

/* line 16, ../sass/portfolio.sass */
.portfolio_item {
  position: relative;
}

/* line 20, ../sass/portfolio.sass */
.portfolio_desc {
  margin-top: 60px;
}

/* line 23, ../sass/portfolio.sass */
.portfolio_image {
  padding: 0;
}

/* line 27, ../sass/portfolio.sass */
.portfolio_header {
  color: #dc7928;
  margin-bottom: 0px;
}

/* line 30, ../sass/portfolio.sass */
.rectangle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 34, ../sass/portfolio.sass */
  .portfolio_items {
    margin: 20px 0;
  }

  /* line 36, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 38, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }

  /* line 40, ../sass/portfolio.sass */
  .portfolio_header {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  /* line 44, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 46, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 49, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 53, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 320px;
    padding-left: 320px;
  }
}
