/* line 4, ../sass/portfolio.sass */
.layout_portfolio {
  background-color: #f0f0f0;
}

/* line 7, ../sass/portfolio.sass */
.portfolio_items {
  display: block;
  margin: 60px 0;
  text-align: center;
}

/* line 12, ../sass/portfolio.sass */
.portfolio_item {
  position: relative;
}

/* line 15, ../sass/portfolio.sass */
.portfolio_desc {
  margin-top: 60px;
}

/* line 18, ../sass/portfolio.sass */
.portfolio_image {
  padding: 0;
}

/* line 21, ../sass/portfolio.sass */
.portfolio_item:hover {
  opacity: 0.4;
}

/* line 23, ../sass/portfolio.sass */
.portfolio_header {
  color: #000041;
  margin-bottom: 0px;
}

/* line 26, ../sass/portfolio.sass */
.rectangle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 31, ../sass/portfolio.sass */
  .portfolio_items {
    margin: 20px 0;
  }

  /* line 33, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 35, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }

  /* line 37, ../sass/portfolio.sass */
  .portfolio_header {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  /* line 41, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 43, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 46, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 50, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 320px;
    padding-left: 320px;
  }
}
