/* line 6, ../sass/portfolio.sass */
.layout_portfolio {
  background-color: #f0f0f0;
}

/* line 9, ../sass/portfolio.sass */
.portfolio_items {
  display: block;
  margin: 60px 0;
  text-align: center;
}

/* line 14, ../sass/portfolio.sass */
.portfolio_item {
  position: relative;
}

/* line 17, ../sass/portfolio.sass */
.portfolio_desc {
  margin-top: 60px;
}

/* line 20, ../sass/portfolio.sass */
.portfolio_image {
  padding: 0;
}

/* line 23, ../sass/portfolio.sass */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  background: rgba(41, 63, 80, 0.8);
}
/* line 33, ../sass/portfolio.sass */
.overlay .p-icon {
  position: absolute;
  top: -40%;
  left: 40%;
  color: white;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/* line 44, ../sass/portfolio.sass */
.overlay:hover {
  opacity: 0.8;
}
/* line 47, ../sass/portfolio.sass */
.overlay:hover .p-icon {
  top: 40%;
}

/* line 51, ../sass/portfolio.sass */
.portfolio_header {
  color: #000041;
  margin-bottom: 0px;
}

/* line 54, ../sass/portfolio.sass */
.rectangle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 59, ../sass/portfolio.sass */
  .portfolio_items {
    margin: 20px 0;
  }

  /* line 61, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 63, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }

  /* line 65, ../sass/portfolio.sass */
  .portfolio_header {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  /* line 69, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 71, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 74, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 78, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 320px;
    padding-left: 320px;
  }
}
