/* line 1, ../sass/skills.sass */
.skills_items {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 4, ../sass/skills.sass */
.wrap_myphoto {
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 8, ../sass/skills.sass */
  .skills_items {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* line 11, ../sass/skills.sass */
  .sertificate {
    display: inline;
  }
}
@media screen and (min-width: 1400px) {
  /* line 14, ../sass/skills.sass */
  #skills {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 18, ../sass/skills.sass */
  #skills {
    padding-right: 320px;
    padding-left: 320px;
  }
}
