/* BEM */
/* block-name--element-name__modifier */
/* MAIN */
/* line 4, ../sass/main.sass */
body {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 18px;
  regular: 400;
  color: #646465;
  margin-top: 40px;
  line-height: 1.5;
}

/* line 9, ../sass/main.sass */
.layout_main {
  background-color: white;
  margin-bottom: 100px;
}

/* line 14, ../sass/main.sass */
.heading_main {
  margin-top: 100px;
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 36px;
  regular: 400;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
}

/* line 20, ../sass/main.sass */
.aboutme {
  text-align: center;
  font-size: 24px;
}

/* line 24, ../sass/main.sass */
.aboutme_min {
  font-size: 16px;
  text-align: center;
}

/* NAVBAR */
/* line 7, ../sass/nav.sass */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 16px 5px;
  background-color: #0884ba;
  transition: all 0.5s;
  text-align: center;
}

/* line 17, ../sass/nav.sass */
.navbar-default {
  background-color: #0884ba;
  border-color: #0884ba;
}

/* line 21, ../sass/nav.sass */
.nav_scrolled {
  padding: 0px 5px;
  opacity: 0.8;
}

/* line 25, ../sass/nav.sass */
.nav_list {
  padding: 0;
  margin: 16px 0;
}

/* line 29, ../sass/nav.sass */
.nav_list li {
  display: inline-block;
}

/* line 32, ../sass/nav.sass */
.nav_link {
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  font-size: 16px;
  color: #faf9f9;
}

/* line 39, ../sass/nav.sass */
.nav_link:hover {
  text-decoration: none;
  color: #b0b0b0;
}

@media screen and (max-width: 767px) {
  /* line 44, ../sass/nav.sass */
  .nav {
    padding: 0;
  }

  /* line 47, ../sass/nav.sass */
  .nav_list {
    margin: 0;
    padding: 0;
  }

  /* line 51, ../sass/nav.sass */
  .nav_list li {
    display: block;
    margin: 0;
    padding: 0;
  }

  /* line 56, ../sass/nav.sass */
  .nav_link {
    display: block;
    margin: 0;
    padding: 5px 5px 5px 5px;
  }

  /* line 62, ../sass/nav.sass */
  .navbar-default .navbar-toggle:hover {
    background-color: #0884ba;
  }

  /* line 65, ../sass/nav.sass */
  .navbar-default .navbar-toggle:focus {
    background-color: #0884ba;
  }
}
/* line 1, ../sass/portfolio.sass */
.layout_portfolio {
  background-color: #f0f0f0;
}

/* line 4, ../sass/portfolio.sass */
.portfolio_items {
  display: block;
  margin: 60px 0;
  text-align: center;
}

/* line 9, ../sass/portfolio.sass */
.portfolio_item {
  position: relative;
  display: inline-block;
  margin: 20px;
}

/* line 14, ../sass/portfolio.sass */
.portfolio_item img {
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/portfolio.sass */
.portfolio_item:hover {
  opacity: 0.4;
}

/* line 1, ../sass/iuse.sass */
.iuse_images {
  margin-top: 30px;
  text-align: center;
}

/* line 5, ../sass/iuse.sass */
.iuse_images img {
  display: inline-block;
  max-height: 55px;
  margin: 20px;
  vertical-align: middle;
  filter: grayscale(100%);
}

/* line 12, ../sass/iuse.sass */
.iuse_images img:hover {
  filter: grayscale(0%);
}

/* line 1, ../sass/skills.sass */
.skills_items {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* line 1, ../sass/contact.sass */
.contact {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* line 6, ../sass/contact.sass */
.contact_glyphicon {
  text-align: center;
  margin-top: 100px;
  font-size: 24px;
}

/* line 11, ../sass/contact.sass */
.heading_contact {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 36px;
  regular: 400;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
}

/* line 17, ../sass/contact.sass */
.contact p a {
  font-size: 24px;
  color: #646465;
  text-decoration: none;
}

/* line 22, ../sass/contact.sass */
.contact p a:hover {
  color: #212121;
  text-decoration: none;
}

/* line 4, ../sass/footer.sass */
.footer {
  background-color: #0884ba;
  text-align: center;
  padding: 20px 20px;
}

/* line 9, ../sass/footer.sass */
.footer_copy {
  font-size: 12px;
  color: #faf9f9;
}

/* line 13, ../sass/footer.sass */
.footer_copy_text {
  margin: 0;
  margin-top: 10px;
}

/* line 17, ../sass/footer.sass */
.footer_social {
  padding: 0px;
}

/* line 20, ../sass/footer.sass */
.footer_social_item {
  padding: 10px;
  color: white;
}

/* line 3, ../sass/butterfly.sass */
layout_butterfly {
  background-color: #fafafa;
}

/* line 6, ../sass/butterfly.sass */
.description {
  text-align: center;
  font-size: 20px;
}

/* line 10, ../sass/butterfly.sass */
.heading_main_butterfly {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 36px;
  regular: 400;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}

/* line 17, ../sass/butterfly.sass */
.nav_list_butterfly {
  padding: 0;
  margin: 20px 0;
}

/* line 21, ../sass/butterfly.sass */
.nav_ul_butterfly {
  padding: 0;
  text-align: center;
}

/* line 25, ../sass/butterfly.sass */
.nav_item_butterfly {
  padding: 0 10px;
  display: inline-block;
}

/* line 29, ../sass/butterfly.sass */
.nav_link_butterfly {
  font-size: 16px;
  color: #646465;
  text-decoration: none;
}

/* line 34, ../sass/butterfly.sass */
.nav_link_butterfly:hover {
  color: #212121;
  text-decoration: none;
}

/* line 38, ../sass/butterfly.sass */
.hr {
  width: 100%;
  margin: 5px 0 0 0;
  border-top-color: #646465;
  border-bottom: 0;
}

/* line 44, ../sass/butterfly.sass */
.carousel {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
}
