@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Questrial");
/* BEM */
/* block-name--element-name__modifier */
/* MAIN */
/* line 8, ../sass/main.sass */
body {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  color: rgba(41, 63, 80, 0.87);
  line-height: 1.5;
}

/* line 15, ../sass/main.sass */
.slogan {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 25%;
}

/* line 22, ../sass/main.sass */
.layout_main {
  background-color: white;
  margin-bottom: 100px;
}

/* line 26, ../sass/main.sass */
.heading_main {
  margin-top: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  regular: 400;
  color: #293f50;
  text-align: center;
}

/* line 34, ../sass/main.sass */
.aboutme {
  text-align: center;
  font-size: 24px;
  color: #293f50;
}

/* line 39, ../sass/main.sass */
.aboutme_min {
  text-align: center;
}

/* line 44, ../sass/main.sass */
.myphoto {
  width: 200px;
  height: 300px;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 20px;
}

/* line 51, ../sass/main.sass */
.right {
  text-align: right;
}

/* line 54, ../sass/main.sass */
.words-wrapper {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
}

/* line 63, ../sass/main.sass */
.new {
  opacity: 0;
}

/* line 66, ../sass/main.sass */
.div_opacity {
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  /* line 76, ../sass/main.sass */
  body {
    font-size: 14px;
  }

  /* line 78, ../sass/main.sass */
  .heading_main {
    margin-top: 25px;
    font-size: 32px;
  }

  /* line 81, ../sass/main.sass */
  .slogan {
    font-size: 24px;
    margin-top: 310px;
    color: #293f50;
  }

  /* line 86, ../sass/main.sass */
  .words-wrapper {
    font-size: 24px;
    color: #293f50;
  }

  /* line 90, ../sass/main.sass */
  .layout_main {
    margin-bottom: 25px;
  }

  /* line 92, ../sass/main.sass */
  .myphoto {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
  }

  /* line 97, ../sass/main.sass */
  .aboutme {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  /* line 101, ../sass/main.sass */
  body {
    font-size: 16px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 104, ../sass/main.sass */
  #aboutme {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 108, ../sass/main.sass */
  #aboutme {
    padding-right: 320px;
    padding-left: 320px;
  }
}
/* NAVBAR */
/* line 8, ../sass/nav.sass */
.menu {
  position: relative;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(41, 63, 80, 0.8) 0%, rgba(255, 255, 255, 0) 100%), url(../img/main_bg.jpg) no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(41, 63, 80, 0.8)), color-stop(100%, rgba(255, 255, 255, 0))), url(../img/main_bg.jpg) no-repeat;
  background: -webkit-linear-gradient(top, rgba(41, 63, 80, 0.8) 0%, white 100%), url(../img/main_bg.jpg) no-repeat;
  background: -o-linear-gradient(top, rgba(41, 63, 80, 0.8) 0%, white 100%), url(../img/main_bg.jpg) no-repeat;
  background: -ms-linear-gradient(top, rgba(41, 63, 80, 0.8) 0%, white 100%), url(../img/main_bg.jpg) no-repeat;
  background: linear-gradient(to bottom, rgba(41, 63, 80, 0.8) 0%, #ffffff 100%), url(../img/main_bg.jpg) no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#293f50', endColorstr='#ffffff',GradientType=0 ), url(../img/main_bg.jpg) no-repeat;
  z-index: 100;
  height: 1000px;
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 24, ../sass/nav.sass */
.navbar-default {
  text-align: right;
  background: none;
  border: none;
}

/* line 29, ../sass/nav.sass */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  padding-right: 30px;
}

/* line 36, ../sass/nav.sass */
.navigation_scrolled {
  opacity: 0.8;
  background: #293f50;
}

/* line 40, ../sass/nav.sass */
.nav_list {
  padding: 0;
  margin: 16px 0;
}

/* line 44, ../sass/nav.sass */
.nav_list li {
  display: inline-block;
}

/* line 47, ../sass/nav.sass */
.nav_link {
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  font-size: 16px;
  color: white;
}

/* line 54, ../sass/nav.sass */
.nav_link:hover {
  text-decoration: underline;
  color: white;
}

/* line 57, ../sass/nav.sass */
.logo {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-weight: bold;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  /* line 64, ../sass/nav.sass */
  .menu {
    padding: 0;
    height: 300px;
    width: 100%;
  }

  /* line 69, ../sass/nav.sass */
  .nav_list {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* line 74, ../sass/nav.sass */
  .nav_list li {
    display: block;
    margin: 0;
    padding: 0;
  }

  /* line 79, ../sass/nav.sass */
  .nav_link {
    display: block;
    margin: 0;
    padding: 5px 5px 5px 5px;
  }

  /* line 83, ../sass/nav.sass */
  .navbar-default {
    text-align: left;
  }

  /* line 85, ../sass/nav.sass */
  .logo {
    font-size: 24px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 89, ../sass/nav.sass */
  .navigation {
    padding-right: 60px;
  }

  /* line 91, ../sass/nav.sass */
  .logo {
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 94, ../sass/nav.sass */
  .navigation {
    padding-right: 320px;
  }

  /* line 96, ../sass/nav.sass */
  .logo {
    padding-left: 320px;
  }
}
/* line 4, ../sass/portfolio.sass */
.layout_portfolio {
  background-color: #f0f0f0;
}

/* line 7, ../sass/portfolio.sass */
.portfolio_items {
  display: block;
  margin: 60px 0;
  text-align: center;
}

/* line 12, ../sass/portfolio.sass */
.portfolio_item {
  position: relative;
}

/* line 15, ../sass/portfolio.sass */
.portfolio_desc {
  margin-top: 60px;
}

/* line 18, ../sass/portfolio.sass */
.portfolio_image {
  padding: 0;
}

/* line 21, ../sass/portfolio.sass */
.portfolio_item:hover {
  opacity: 0.4;
}

/* line 23, ../sass/portfolio.sass */
.portfolio_header {
  color: #000041;
  margin-bottom: 0px;
}

/* line 26, ../sass/portfolio.sass */
.rectangle {
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 31, ../sass/portfolio.sass */
  .portfolio_items {
    margin: 20px 0;
  }

  /* line 33, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 35, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }

  /* line 37, ../sass/portfolio.sass */
  .portfolio_header {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  /* line 41, ../sass/portfolio.sass */
  .portfolio_item {
    margin: 10px;
  }

  /* line 43, ../sass/portfolio.sass */
  .portfolio_desc {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1400px) {
  /* line 46, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 50, ../sass/portfolio.sass */
  #portfolio {
    padding-right: 320px;
    padding-left: 320px;
  }
}
/* line 1, ../sass/iuse.sass */
.iuse_images {
  margin-top: 30px;
  text-align: center;
}

/* line 5, ../sass/iuse.sass */
.iuse_images img {
  display: inline-block;
  max-height: 55px;
  margin: 20px;
  vertical-align: middle;
  filter: grayscale(100%);
}

/* line 12, ../sass/iuse.sass */
.iuse_images img:hover {
  filter: grayscale(0%);
}

/* line 1, ../sass/skills.sass */
.skills_items {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 4, ../sass/skills.sass */
.wrap_myphoto {
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 8, ../sass/skills.sass */
  .skills_items {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /* line 11, ../sass/skills.sass */
  .sertificate {
    display: inline;
  }
}
@media screen and (min-width: 1400px) {
  /* line 14, ../sass/skills.sass */
  #skills {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  /* line 18, ../sass/skills.sass */
  #skills {
    padding-right: 320px;
    padding-left: 320px;
  }
}
/* line 5, ../sass/contact.sass */
.contact {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* line 10, ../sass/contact.sass */
.contact_glyphicon {
  text-align: center;
  font-size: 24px;
}

/* line 15, ../sass/contact.sass */
.contact p a {
  font-size: 24px;
  color: rgba(41, 63, 80, 0.87);
  text-decoration: none;
}

/* line 20, ../sass/contact.sass */
.contact p a:hover {
  color: #293f50;
  text-decoration: none;
}

/* line 24, ../sass/contact.sass */
.icon {
  background-color: #293f50;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  padding-top: 7px;
}

@media screen and (max-width: 768px) {
  /* line 34, ../sass/contact.sass */
  .contact_glyphicon {
    margin-top: 50px;
    font-size: 18px;
  }

  /* line 37, ../sass/contact.sass */
  .contact p a {
    font-size: 16px;
  }

  /* line 39, ../sass/contact.sass */
  .icon {
    width: 30px;
    height: 30px;
  }
}
/* line 4, ../sass/footer.sass */
.footer {
  background-color: #293f50;
  text-align: center;
  padding: 20px 20px;
}

/* line 9, ../sass/footer.sass */
.footer_copy {
  font-size: 12px;
  color: #faf9f9;
}

/* line 13, ../sass/footer.sass */
.footer_copy_text {
  margin: 0;
  margin-top: 10px;
}

/* line 17, ../sass/footer.sass */
.footer_social {
  padding: 0px;
}

/* line 20, ../sass/footer.sass */
.footer_social_item {
  padding: 10px;
  color: white;
}

/* line 3, ../sass/butterfly.sass */
layout_butterfly {
  background-color: #fafafa;
}

/* line 6, ../sass/butterfly.sass */
.description {
  text-align: center;
  font-size: 20px;
}

/* line 10, ../sass/butterfly.sass */
.heading_main_butterfly {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 36px;
  regular: 400;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  font-size: 24px;
}

/* line 17, ../sass/butterfly.sass */
.nav_list_butterfly {
  padding: 0;
  margin: 20px 0;
}

/* line 21, ../sass/butterfly.sass */
.nav_ul_butterfly {
  padding: 0;
  text-align: center;
}

/* line 25, ../sass/butterfly.sass */
.nav_item_butterfly {
  padding: 0 10px;
  display: inline-block;
}

/* line 29, ../sass/butterfly.sass */
.nav_link_butterfly {
  font-size: 16px;
  color: #646465;
  text-decoration: none;
}

/* line 34, ../sass/butterfly.sass */
.nav_link_butterfly:hover {
  color: #212121;
  text-decoration: none;
}

/* line 38, ../sass/butterfly.sass */
.hr {
  width: 100%;
  margin: 5px 0 0 0;
  border-top-color: #646465;
  border-bottom: 0;
}

/* line 44, ../sass/butterfly.sass */
.carousel {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
}
