@import 'variables'
.contact
  text-align: center
  margin-top: 50px
  margin-bottom: 100px

.contact_glyphicon
  text-align: center
  margin-top: 100px
  font-size: 24px

.heading_contact
  @include font-heading
  text-transform: uppercase
  text-align:  center
  

.contact p a
  font-size: 24px
  color: #646465
  text-decoration: none

.contact p a:hover
  color: #212121
  text-decoration: none

@media screen and (max-width: 768px)
  .contact_glyphicon
    margin-top: 50px
    font-size: 18px