/* MAIN */

body
    color: #141412
    line-height: 1.5
    margin: 0
    background-image: url(img/bg.png)
    background-repeat: repeat-x
    background-color: #99d2e8
    font-family: Verdana, sans-serif