/* MAIN */

body 
  font-family: "Frank Ruhl Libre", sans-serif
  font-size: 18px
  regular: 400
  color: #646465
  margin-top: 40px
  line-height: 1.5
.layout_main 
  background-color: white
  margin-bottom: 100px
.heading_main 
  margin-top: 100px
  font-family: "Frank Ruhl Libre", sans-serif
  font-size: 36px
  regular: 400
  color: #212121
  text-transform: uppercase
  text-align: center
.aboutme 
  text-align: center
  font-size: 24px
.aboutme_min 
  font-size: 16px
  text-align: center
@media screen and (max-width: 768px)
  body
    font-size: 14px
  .heading_main 
    margin-top: 50px
    font-size: 24px
  .layout_main
    margin-bottom: 50px