$color-darkblue: rgb(0, 0, 65)
$navbar-bg-color-grey: rgba(18, 32, 52, 0.8)
$navbar-bg-color-white: rgb(255, 255, 255)
$color-accent: #dc7928

.layout_portfolio
  background-color: #f0f0f0
  padding-right: 20px
  padding-left: 20px
  
.portfolio_items
  display: block
  margin: 60px 0
  text-align: center

.portfolio_item
  position: relative


.portfolio_desc
  margin-top: 60px
  
.portfolio_image
  padding: 0


.portfolio_header
  color: $color-accent
  margin-bottom: 0px
.rectangle 
  text-align: center

@media screen and (max-width: 768px)
  .portfolio_items
    margin: 20px 0
  .portfolio_item
    margin: 10px
  .portfolio_desc
    margin-top: 25px
  .portfolio_header    
    font-size: 16px
    
@media screen and (max-width: 992px)    
  .portfolio_item
    margin: 10px
  .portfolio_desc
    margin-top: 25px
@media screen and (min-width: 1400px)
  #portfolio
    padding-right: 60px
    padding-left: 60px    
@media screen and (min-width: 1920px)
  #portfolio
    padding-right: 320px
    padding-left: 320px       