@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* BEM */
/* block-name--element-name__modifier */
/* line 4, ../sass/main.sass */
html {
  width: 100%;
}

/* line 6, ../sass/main.sass */
.main_bg {
  width: 100%;
  height: 1000px;
  background: url(../img/main_bg.png) no-repeat;
  position: relative;
}

/* line 12, ../sass/main.sass */
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

/* line 19, ../sass/main.sass */
.slogan1 {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  color: white;
  margin-top: 100px;
  text-align: center;
}

/* line 26, ../sass/main.sass */
.slogan2 {
  margin-bottom: 80px;
}

/* line 29, ../sass/main.sass */
.text-slogan2 {
  font-family: "Montserrat", sans-serif;
  font-size: 130px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  height: 100px;
}

/* line 39, ../sass/main.sass */
.rectangle {
  text-align: center;
  margin: 30px 0 30px 0;
}

/* line 43, ../sass/main.sass */
.btn-mogo {
  text-align: center;
}
/* line 45, ../sass/main.sass */
.btn-mogo button {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  color: white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid white;
  border-color: white;
  padding: 15px 34px;
  margin: 0 0 30px 0;
}

@media screen and (max-width: 768px) {
  /* line 59, ../sass/main.sass */
  .main_bg {
    height: 100%;
    background: -moz-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e98282), color-stop(100%, #f0d98a));
    background: -webkit-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: -o-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: -ms-linear-gradient(top, #e98282 0%, #f0d98a 100%);
    background: linear-gradient(to bottom, #e98282 0%, #f0d98a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57f7e', endColorstr='#e9d283',GradientType=0 );
  }

  /* line 68, ../sass/main.sass */
  .slogan1 {
    font-size: 36px;
    margin-top: 50px;
  }

  /* line 71, ../sass/main.sass */
  .text-slogan2 {
    font-size: 72px;
    margin-top: 0;
    height: auto;
  }

  /* line 75, ../sass/main.sass */
  .rectangle {
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 78, ../sass/main.sass */
  .slogan1 {
    font-size: 24px;
  }

  /* line 80, ../sass/main.sass */
  .text-slogan2 {
    font-size: 48px;
  }
}
/* NAVBAR */
/* line 6, ../sass/nav.sass */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 16px 5px;
  transition: all 0.5s;
  text-align: center;
}

/* line 15, ../sass/nav.sass */
.navbar-default {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

/* line 20, ../sass/nav.sass */
.nav_scrolled {
  padding: 0px 5px;
  opacity: 0.8;
}

/* line 24, ../sass/nav.sass */
.nav_list {
  padding: 0;
  margin: 16px 0;
}

/* line 28, ../sass/nav.sass */
.nav_list li {
  display: inline-block;
}

/* line 31, ../sass/nav.sass */
.nav_link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 10px;
  font-size: 14px;
  color: white;
}

/* line 40, ../sass/nav.sass */
.nav_link:hover {
  color: #fce38a;
}

/* line 42, ../sass/nav.sass */
.nav_link:focus {
  color: #fce38a;
}

@media screen and (max-width: 768px) {
  /* line 45, ../sass/nav.sass */
  .nav {
    padding: 0;
  }

  /* line 48, ../sass/nav.sass */
  .nav_list {
    margin: 0;
    padding: 0;
  }

  /* line 52, ../sass/nav.sass */
  .nav_list li {
    display: block;
    margin: 0;
    padding: 0;
  }

  /* line 57, ../sass/nav.sass */
  .nav_link {
    display: block;
    margin: 0;
    padding: 5px 5px 5px 5px;
  }
}
/* line 7, ../sass/about.sass */
h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: RGB(51, 51, 51);
  margin-top: 90px;
}

/* line 13, ../sass/about.sass */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: RGB(51, 51, 51);
  margin: 15px 0 15px 0;
  text-transform: uppercase;
}

/* line 20, ../sass/about.sass */
.text-content {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(153, 153, 153);
}

/* line 24, ../sass/about.sass */
.about {
  text-align: center;
  padding-bottom: 100px;
}
/* line 27, ../sass/about.sass */
.about .about_pictures {
  margin: 90px 0 0 0;
}
/* line 29, ../sass/about.sass */
.about h4 {
  color: RGB(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}
/* line 36, ../sass/about.sass */
.about .text-content {
  text-align: left;
  margin-bottom: 20px;
}
/* line 39, ../sass/about.sass */
.about .blog_views {
  margin-top: 20px;
  text-align: left;
}
/* line 42, ../sass/about.sass */
.about .blog_views .text-content {
  font-style: italic;
  margin-right: 10px;
}
/* line 45, ../sass/about.sass */
.about .blog_views .about_pic {
  display: inline-block;
}
/* line 47, ../sass/about.sass */
.about .blog_item {
  position: relative;
}
/* line 49, ../sass/about.sass */
.about .blog_item .blog_item_data {
  position: absolute;
  top: 60%;
  /*bottom: 0 */
  left: -5%;
  /*right: 0 */
  z-index: 2;
  background: #95e1d3;
}
/* line 57, ../sass/about.sass */
.about .blog_item .blog_item_data h1 {
  color: RGB(255, 255, 255);
  margin: 5px 10px 0 10px;
}
/* line 60, ../sass/about.sass */
.about .blog_item .blog_item_data .text-content {
  font-style: italic;
  color: RGB(255, 255, 255);
  text-align: center;
  margin-bottom: 5px;
}

/* line 65, ../sass/about.sass */
.gradient {
  position: relative;
  padding: 10px;
}
/* line 69, ../sass/about.sass */
.gradient .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
/* line 76, ../sass/about.sass */
.gradient .inner .btn-group {
  visibility: hidden;
}
/* line 78, ../sass/about.sass */
.gradient .inner h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: RGB(255, 255, 255);
  text-transform: uppercase;
  visibility: hidden;
}
/* line 86, ../sass/about.sass */
.gradient .inner .img_hover {
  margin-top: 25%;
  visibility: hidden;
}
/* line 89, ../sass/about.sass */
.gradient .inner:hover {
  background: -moz-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229, 127, 126, 0.6)), color-stop(100%, rgba(233, 210, 131, 0.6)));
  background: -webkit-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(229, 127, 126, 0.6) 0%, rgba(233, 210, 131, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e57f7e', endColorstr='#e9d283',GradientType=0 );
  box-shadow: 10px 10px rgba(149, 225, 211, 0);
}
/* line 98, ../sass/about.sass */
.gradient .inner:hover .btn-group {
  visibility: visible;
}
/* line 100, ../sass/about.sass */
.gradient .inner:hover h5 {
  visibility: visible;
}
/* line 102, ../sass/about.sass */
.gradient .inner:hover .img_hover {
  visibility: visible;
}
/* line 105, ../sass/about.sass */
.gradient .about_picture {
  margin: 0px;
}
/* line 109, ../sass/about.sass */
.gradient .btn-default {
  color: #f38181;
  background-color: #fce38a;
  border-color: #f9bd87;
}
/* line 114, ../sass/about.sass */
.gradient .btn-default:hover {
  color: white;
  background-color: #f38181;
  border-color: #f38181;
}
/* line 118, ../sass/about.sass */
.gradient .btn-group {
  margin-top: 60%;
}

/* line 121, ../sass/about.sass */
.about_blue {
  background: #95e1d3;
  padding: 0 0 50px 0;
}
/* line 126, ../sass/about.sass */
.about_blue h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
/* line 133, ../sass/about.sass */
.about_blue h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

/* line 139, ../sass/about.sass */
.work_picture {
  padding: 0;
}

@media screen and (max-width: 768px) {
  /* line 143, ../sass/about.sass */
  .about {
    padding-bottom: 30px;
  }

  /* line 145, ../sass/about.sass */
  .about_blue {
    padding: 10px 0 0 0;
  }
  /* line 147, ../sass/about.sass */
  .about_blue h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
  /* line 155, ../sass/about.sass */
  .about_blue h4 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  /* line 161, ../sass/about.sass */
  h3 {
    margin-top: 30px;
    font-size: 18px;
  }

  /* line 164, ../sass/about.sass */
  h1 {
    font-size: 24px;
  }
}
/* line 1, ../sass/work.sass */
.work {
  text-align: center;
  margin: 0 0 125px 0;
}
/* line 5, ../sass/work.sass */
.work .media {
  margin: 20px 0 20px 0;
}
/* line 7, ../sass/work.sass */
.work .media-items {
  margin: 35px 0 35px 0;
}
/* line 9, ../sass/work.sass */
.work .media-items .media-body {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(153, 153, 153);
}
/* line 15, ../sass/work.sass */
.work .media-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: RGB(51, 51, 51);
  text-transform: uppercase;
  text-align: left;
}

/* line 22, ../sass/work.sass */
.line_grey {
  background: RGB(229, 229, 229);
  height: 2px;
}

@media screen and (max-width: 768px) {
  /* line 26, ../sass/work.sass */
  .work {
    margin-bottom: 30px;
  }
}
/* line 1, ../sass/unique_design.sass */
.unique_design {
  text-align: center;
  background: url(../img/uniquedesign_bg.png) no-repeat;
}

/* line 5, ../sass/unique_design.sass */
.img_unique_design {
  position: relative;
  display: inline-block;
}

/* line 9, ../sass/unique_design.sass */
.img_item_unique_design_white {
  position: absolute;
  top: 196px;
  right: -160px;
}

/* line 1, ../sass/service.sass */
.service {
  text-align: center;
  margin-bottom: 100px;
}
/* line 4, ../sass/service.sass */
.service .media-items {
  margin: 0 0 0 0;
}
/* line 6, ../sass/service.sass */
.service .media-items .media-body {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(153, 153, 153);
}
/* line 12, ../sass/service.sass */
.service .media-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: RGB(51, 51, 51);
  text-transform: uppercase;
  text-align: left;
}

/* line 19, ../sass/service.sass */
.service_work {
  margin-top: 90px;
}

/* line 21, ../sass/service.sass */
.img_accordion {
  display: inline-block;
  margin-right: 10px;
}

/* line 24, ../sass/service.sass */
.panel-body {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(153, 153, 153);
  font-style: italic;
  overflow-y: scroll;
}

/*.glyphicon-menu-down
 * color: RGB(153,153,153) */
/* line 36, ../sass/service.sass */
.panel-default .panel-heading {
  background-color: white;
  color: RGB(153, 153, 153);
}

/* line 41, ../sass/service.sass */
.panel-heading .accordion-toggle:after {
  font-family: "Glyphicons Halflings";
  content: "\e113";
  float: right;
  color: RGB(153, 153, 153);
}

/* line 48, ../sass/service.sass */
.panel-heading .accordion-toggle.collapsed:after {
  content: "\e114";
}

/* line 50, ../sass/service.sass */
.panel-body::-webkit-scrollbar {
  width: 5px;
}

/* line 53, ../sass/service.sass */
.panel-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 57, ../sass/service.sass */
.panel-body::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
  outline: 1px solid slategrey;
}

@media screen and (max-width: 768px) {
  /* line 61, ../sass/service.sass */
  .img_center {
    margin-left: auto;
    margin-right: auto;
  }

  /* line 64, ../sass/service.sass */
  .service {
    margin-bottom: 30px;
  }
  /* line 66, ../sass/service.sass */
  .service .panel-group {
    margin-top: 10px;
  }
}
/* line 1, ../sass/jondoe.sass */
.JonDoe {
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: RGB(153, 153, 153);
  font-style: italic;
  padding-top: 70px;
  padding-bottom: 70px;
}
/* line 9, ../sass/jondoe.sass */
.JonDoe .media {
  margin: 10px 0 0 0;
}
/* line 11, ../sass/jondoe.sass */
.JonDoe .media .media-left {
  vertical-align: middle;
}
/* line 13, ../sass/jondoe.sass */
.JonDoe .media h3 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  /* line 16, ../sass/jondoe.sass */
  .JonDoe {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }

  /* line 21, ../sass/jondoe.sass */
  .media .media-body {
    padding-top: 10px;
  }
}
/* line 1, ../sass/joshuaearle.sass */
.Joshuaearle {
  background: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: RGB(153, 153, 153);
  font-style: italic;
  padding-bottom: 70px;
}
/* line 8, ../sass/joshuaearle.sass */
.Joshuaearle .media {
  margin: 10px 0 0 0;
}
/* line 10, ../sass/joshuaearle.sass */
.Joshuaearle .media .media-left {
  vertical-align: middle;
}
/* line 12, ../sass/joshuaearle.sass */
.Joshuaearle .media h3 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  /* line 15, ../sass/joshuaearle.sass */
  .Joshuaearle {
    font-size: 14px;
  }
  /* line 18, ../sass/joshuaearle.sass */
  .Joshuaearle .media .media-body {
    padding-top: 10px;
  }
}
/* line 1, ../sass/whatpeoplesay.sass */
.Whatpeoplesay {
  text-align: center;
  width: 100%;
  height: 830px;
  background: url(../img/Whatpeoplesay_bg.png) no-repeat;
}
/* line 7, ../sass/whatpeoplesay.sass */
.Whatpeoplesay .media-items {
  margin: 0 0 0 0;
}
/* line 9, ../sass/whatpeoplesay.sass */
.Whatpeoplesay .media-items .media {
  margin-top: 70px;
}
/* line 11, ../sass/whatpeoplesay.sass */
.Whatpeoplesay .media-items .media-body {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(153, 153, 153);
  line-height: 1.7;
}
/* line 17, ../sass/whatpeoplesay.sass */
.Whatpeoplesay .media-items .media-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: RGB(51, 51, 51);
  text-transform: uppercase;
  text-align: left;
}
/* line 24, ../sass/whatpeoplesay.sass */
.Whatpeoplesay .media-items .media-heading-italic {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(51, 51, 51);
  font-style: italic;
}
/* line 30, ../sass/whatpeoplesay.sass */
.Whatpeoplesay .media-items .rectangle {
  text-align: left;
  margin: 10px 0 10px 0;
}

@media screen and (max-width: 768px) {
  /* line 36, ../sass/whatpeoplesay.sass */
  .Whatpeoplesay .media-items .media {
    margin-top: 30px;
  }
  /* line 38, ../sass/whatpeoplesay.sass */
  .Whatpeoplesay .media-items .rectangle {
    margin: 5px 0 5px 0;
  }
  /* line 41, ../sass/whatpeoplesay.sass */
  .Whatpeoplesay .media-items .media-body {
    line-height: 1.4;
  }
  /* line 43, ../sass/whatpeoplesay.sass */
  .Whatpeoplesay .rectangle {
    margin: 5px 0 5px 0;
  }
}
@media screen and (max-width: 480px) {
  /* line 46, ../sass/whatpeoplesay.sass */
  .Whatpeoplesay {
    height: 100%;
    background: #f2f2f2;
    padding-bottom: 10px;
  }
}
/* line 1, ../sass/map.sass */
.map {
  width: 100%;
  height: 200px;
  background: url(../img/map_bg.png) no-repeat;
  position: relative;
  text-align: center;
}
/* line 8, ../sass/map.sass */
.map .img_map {
  margin: 30px auto 0 auto;
}
/* line 10, ../sass/map.sass */
.map h1 {
  color: #f38181;
}

/* line 12, ../sass/map.sass */
#map-canvas {
  height: 500px;
  width: 500px;
}

@media screen and (max-width: 768px) {
  /* line 16, ../sass/map.sass */
  #map-canvas {
    height: 250px;
    width: 250px;
  }
}
/* line 1, ../sass/footer.sass */
.footer {
  background: #f8f8f8;
  padding-top: 30px;
}
/* line 4, ../sass/footer.sass */
.footer .logo {
  color: #cccccc;
  font-size: 46px;
  margin-bottom: 40px;
}
/* line 8, ../sass/footer.sass */
.footer .text-content {
  margin-bottom: 40px;
}
/* line 10, ../sass/footer.sass */
.footer .footer_bold_text {
  color: RGB(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  display: inline-block;
}
/* line 18, ../sass/footer.sass */
.footer .footer_text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 23, ../sass/footer.sass */
.footer .line_grey {
  margin: 10px 0 20px 0;
}
/* line 25, ../sass/footer.sass */
.footer .text-content-italic {
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: RGB(153, 153, 153);
  display: inline-block;
}
/* line 31, ../sass/footer.sass */
.footer .follow {
  margin: 0 20px 20px 0;
}
/* line 33, ../sass/footer.sass */
.footer .fa {
  display: inline-block;
  color: RGB(149, 225, 211);
  margin-right: 10px;
}
/* line 37, ../sass/footer.sass */
.footer .btn-footer {
  background: RGB(149, 225, 211);
  color: white;
}
/* line 40, ../sass/footer.sass */
.footer h4 {
  color: RGB(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  margin-top: 50px;
}
/* line 48, ../sass/footer.sass */
.footer .blog_col {
  margin-left: 15px;
}
/* line 50, ../sass/footer.sass */
.footer .media-heading {
  color: RGB(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}
/* line 57, ../sass/footer.sass */
.footer .media-heading-italic {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: RGB(153, 153, 153);
  font-style: italic;
}
/* line 63, ../sass/footer.sass */
.footer .media {
  padding-top: 15px;
}
/* line 65, ../sass/footer.sass */
.footer .media-body {
  margin-top: 5px;
}
/* line 67, ../sass/footer.sass */
.footer .images_instagram {
  margin-top: 25px;
}
/* line 69, ../sass/footer.sass */
.footer .images_instagram .media-heading-italic {
  margin-top: 25px;
}
/* line 71, ../sass/footer.sass */
.footer .main_footer {
  margin-bottom: 60px;
}

/* line 73, ../sass/footer.sass */
.footer_copy {
  color: RGB(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  /* line 80, ../sass/footer.sass */
  .footer h4 {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  /* line 84, ../sass/footer.sass */
  .footer .images_instagram {
    margin-left: 20px;
  }
}
